# Tidy data in Pandas

### Handy hints

* In general, we are using plotting libraries that return objects encapsulating the plot. You can check the type of these returned objects with `type()`. Jupyter's tools for exploring objects and methods will also be useful: the `?` and `??` operators, and tab autocompletion.

## Setup

In [2]:
import pandas as pd
import numpy as np

In [3]:
# This causes Jupyter to display any matplotlib plots directly in the notebook
# It also works for seaborn, since seaborn uses matplotlib to render plots
# There is an alterative `%matplotlib notebook` magic for interactivity, which we won't use today
# - we will use other libraries for interactive plots
%matplotlib inline
import matplotlib.pyplot as plt

In [5]:
# pyplot (as plt) is the module we'll primarily use to instantiate matplotlib plot objects
from matplotlib import pyplot as plt

## Pandas warm-up

## Tidy data exercises

[Link to "untidy data" discussion spreadsheet](https://docs.google.com/spreadsheets/d/1tnLVYxd6k5oGWVHsiF6D78ds1nOztU3Ynri_Bx0oOjE/edit?usp=sharing)

We can manipulate data using the column names and index, with `stack` and `unstack`.

We can manipulate data using particular columns, with `melt` and `pivot` or `pivot_table`.

Here are two tiny "wide" datasets:

In [9]:
sales_wide1 = pd.read_csv('housing-data-wide1.csv')
sales_wide1

   property_id  bedrooms    price1    price2
0   5631500400         2  180000.0       NaN
1   6021501535         3  430000.0  700000.0
2   7129300520         3  221900.0       NaN

In [52]:
sales_wide2 = pd.read_csv('housing-data-wide2.csv', parse_dates=['date1','date2'])
sales_wide2

   property_id  bedrooms      date1    price1      date2    price2
0   5631500400         2 2015-02-25  180000.0        NaT       NaN
1   6021501535         3 2014-07-25  430000.0 2014-12-23  700000.0
2   7129300520         3 2014-10-13  221900.0        NaT       NaN

And two slightly larger datasets of the same form:

In [10]:
sales_wide1_100 = pd.read_csv('housing-data-wide1-100.csv')
print(sales_wide1_100.shape)
print(sales_wide1_100.columns)

(100, 4)
Index(['property_id', 'bedrooms', 'price1', 'price2'], dtype='object')

In [11]:
sales_wide2_100 = pd.read_csv('housing-data-wide2-100.csv', parse_dates=['date1','date2'])
print(sales_wide2_100.shape)
print(sales_wide2_100.columns)

(100, 6)
Index(['property_id', 'bedrooms', 'date1', 'price1', 'date2', 'price2'], dtype='object')

**Exercises**

* Use Pandas to get `sales_wide1` into tidy form. Once you've reshaped the data, you may also want to remove null rows using either `.dropna()` or `.loc[]` and `.isnull()`.
* Apply the same tidying to `sales_wide1_100`. Once this data is tidy, plot a histogram using `plt.hist()` (or better, `ax.hist()` !) by passing it the column of house prices.

* Use Pandas to get `sales_wide2` into tidy form. Note that this is much harder than the first exercise!
* Once you've tidied this data, apply the same tidying to `sales_wide2_100` and use matplotlib's `plt.plot_date()` or `ax.plot_date()` to create a scatter plot of sale price against sale date.